*.csproj
*.unityproj
*.sln
*.tmp
*.iml
*.userprefs
*.user
*.svd
*.pidb
Thumbs.db

/.idea/.idea.*/.idea/*
!/.idea/.idea.*/.idea/codeStyleSettings.xml

/[Tt]emp/
/[Ll]ibrary/
/[Oo]bj/
/[Bb]uild/
/[Bb[uilds/
/Assets/AssetStoreTools*

